{% extends "base.html" %}

{% block content %}
{% load humanize %}

<div class="container text-center">
	<div class="fs-4">Money: {{ player.money|intcomma }}</div>
	<div class="fs-4">Production: {{ player.production|intcomma }}</div>
</div>

<div class="container-fluid text-center d-flex flex-row">
	{% for worker in workers %}
		<div class="card m-5 w-100">
			<div class="card-header">
				{{ worker.name }}
			</div>
			<div class="card-body">
				<p class="card-text">Cost: {{ worker.cost }}</p>
				<p class="card-text">Production: {{ worker.production }}</p>
				<p class="card-text">Level: {{ worker.level }}</p>
				<form action="{% url 'master:worker'%}" method="post">
					{% csrf_token %}
					<input type="hidden" value="{{ worker.id }}" name="id"/>
					<button type="submit" class="btn btn-primary">Hire</button>
				</form>
			</div>
		</div>
	{% endfor %}
</div>

{% endblock %}